<style>
    #tablelistbox .repecePsd{margin-right:5px;}
    #tablelistbox .state{color:#6674ba;}
    #allotMajaBox{width:100%;margin:0 auto;height:100%;border:1px solid #ddd;background:#fff;padding:30px;display: none;}
    #allotMajaBox .majiaListBox{width:100%;height:440px;overflow-y: auto;padding:6px;border:1px solid #ddd;}
    #allotMajaBox .majiaListBox label{cursor: pointer;margin:15px;}
    #allotMajaBox .majiaListBox input{vertical-align: sub;margin-right:3px;cursor: pointer;}
    #sureAllortBtn{float:right;margin-right:3px;background:#52b5dc;color:#fff;margin-bottom:10px;}
</style>
    <div style="padding-left:28px;padding-top:10px;" class="pagebtnlist">
        <button type="button" class="btn btn-sm btn-primary" id="newOperateBtn" data-val="permissionnew.html">新增内容运营</button>
        <button type="button" class="btn btn-sm btn-primary" id="contentAllotBtn" data-val="permissionalot.html">内容分配</button>
    </div>
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox-content">
                    <div class="jqGrid_wrapper" id="tablelist">
                        <!--   <table id="table_list_2"></table>-->
                        <table  class="table table-striped" id="tablelistbox">
                            <thead>
                            <tr>
                                <th>账号</th>
                                <th>用户名</th>
                                <th>创建时间</th>
                                <th>最新登陆时间</th>
                                <th>马甲数</th>
                                <th>创建人</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody id="tablelistTbody">
                            <tr v-for="(item,index) in items" :data-id="item.userid">
                                <td class="center">{{item.userid}}</td>
                                <td class="center">{{item.username}}</td>
                                <td class="center">{{item.createtime }}</td>
                                <td class="center">{{item.lastlogin}}</td>
                                <td class="center">{{item.tusercount}}</td>
                                <td class="center">{{item.createusername}}</td>
                                <td class="center state"><button v-on:click="resetpsd(item.userid)" type="button" class="repecePsd btn btn-danger">重置密码</button>{{item.userstatus == "1" ? "使用中":"停用"}}</td>
                                <td class="center"><button type="button" class="btn" v-on:click="allot(item,index)">分配马甲</button></td>
                            </tr>

                            </tbody>
                        </table>
                        <div id="pagerlist">
                            <div id="pagerbtnlist">
                                <span class="glyphicon glyphicon-backward gbtn" id="prepagebtn" onclick="prepage()"></span>
                                    <span class="addpagebox">
                                        <span id="jumppage" onclick="jumppage()">跳转到</span>
                                        <input type="number" id="addpageinput" value="1" max="" min="1"/>
                                        共 <span id="allpage">1</span>页
                                    </span>
                                <span class="glyphicon glyphicon-forward gbtn" id="nextpagebtn" onclick="nextpage()"></span>
                            </div>
                            <div id="allcontbox">
                                <p id="allconts"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--分配马甲-->
    <div id="allotMajaBox">
        <h4>账号：<span class="userid" style="color:#007fff;margin-right:25px;">{{userid}}</span>用户名：<span class="username" style="color:#007fff;">{{username}}</span><button type="button" class="btn" id="sureAllortBtn" @click="allotmajia()">确认</button></h4>
        <div class="majiaListBox">
            <label v-for="(item,index) in items" :for="'majia'+index"><input type="checkbox" :id="'majia'+index" :value="item.userid" v-model="checkmajia"/>{{item.username}}</label>

        </div>
    </div>


    <!-- Page-Level Scripts -->
    <script>
        $(".pagebtnlist .btn").click(function(){
            var url=$(this).attr("data-val");
            $("#pageLoadBox").load(url);
        });

        var tabledata = new Vue({
            el: '#tablelistTbody',
            data: {
                items:[]
            },
            // 在 `methods` 对象中定义方法
            methods: {
                resetpsd: function (event) {
                    layer.confirm('确定重置该账号的密码吗？', {
                        btn: ['确定','取消'] //按钮
                    }, function(index){
                        respedpsd(event);
                        layer.close(index);
                    }, function(index){
                        layer.close(index);
                    });

                },
                allot:function(events,indexcc){
                    layer.open({
                        type: 1,
                        title: '分配马甲',
                        shadeClose: true,
                        maxmin: true, //开启最大化最小化按钮
                        shade: 0.6,
                        area: ['70%', '65%'],
                        content: $("#allotMajaBox"), //iframe的url
                        success: function (layero, index) {
//                            console.log(events);
//                            console.log("index::");
//                            console.log(indexcc);
                            allotmajia.userid=events.userid;
                            allotmajia.username=events.username;
                            allotmajia.tabledataindex=indexcc;
                            allotmajia.checkmajia=[];//已经选择的马甲放在这个数组里
                            majialist2(events.userid);
                        }
                    });

                }
            }
        });

        /*分配马甲初始*/
        var allotmajia = new Vue({
            el: '#allotMajaBox',
            data: {
                userid:"",
                username:"",
                tabledataindex:"",
                items:[],
                checkmajia:[]
            },
            // 在 `methods` 对象中定义方法
            methods: {
                allotmajia: function (event) {
                    layer.confirm('确定分配该批马甲吗？', {
                        btn: ['确定','取消'] //按钮
                    }, function(index){
                        layer.close(index);
                        var vestuserid="";
                        $.each(allotmajia.checkmajia,function(i,n){
                            vestuserid=n+","+vestuserid;
                        });
                      //  console.log(vestuserid);
                        choosemaja(allotmajia.userid,vestuserid);
                    }, function(index){
                        layer.close(index);
                    });

                }
            }
        });

        $(function(){
            getcheck(1);
        });

        function getcheck(pageno){
            var datapost={"pageno":pageno,"pagesize":10};
            datapost=JSON.stringify(datapost);
            layer.msg('努力中...', {icon: 16,shade: [0.5, '#f5f5f5'],scrollbar: true,offset: '50px', time:20000}) ;
            $.ajax({
                url : path+'/CTKJBUSINESS/sysuser/workerlist.do',
                cache:false,//false就不会从浏览器缓存中加载请求信息了
                type:"POST",
                contentType: "application/json",
                dataType:"JSON",
                async:false,
                data: datapost,
                error: function(data){
                    layer.msg("服务器未响应,请稍后再试!");
//                    console.log("内容运营列表失败：");
//                    console.log(data);
                },
                success:function(diskJson){
                    layer.closeAll();
//                        console.log("内容运营列表：");
//                        console.log(diskJson);
                    /*翻页信息*/
                    pageinfo2(diskJson.data,pageno);//翻页控件信息
                    tabledata.items=diskJson.data.rows;
                    majialist(); /*马甲列表(所有)*/

                }
            });
        }

        /*重置密码*/
        function respedpsd(userid){
            var datapost={"userid":userid};
            datapost=JSON.stringify(datapost);
            layer.msg('重置中...', {icon: 16,shade: [0.5, '#f5f5f5'],scrollbar: true,offset: '50px', time:20000}) ;
            $.ajax({
                url : path+'/CTKJBUSINESS/logincontrol/resetpsd.do',
                cache:false,//false就不会从浏览器缓存中加载请求信息了
                type:"POST",
                contentType: "application/json",
                dataType:"JSON",
                async:true,
                data: datapost,
                error: function(data){
                    layer.msg("服务器未响应,请稍后再试!");
//                    console.log("重置密码失败：");
//                    console.log(data);
                },
                success:function(diskJson){
                    layer.closeAll();
                 /*   console.log("重置密码：");
                    console.log(diskJson);*/
                    if(diskJson.code=="1000"){
                        layer.msg("重置成功！");
                    }else{
                        layer.msg("重置失败，请重试...！");
                    }

                }
            });
        }


        /*马甲列表(所有)*/
        function majialist(){
            var tjdatas={"pageno":1,"pagesize":999};
           // console.log(tjdatas);
            tjdatas=JSON.stringify(tjdatas);
            $.ajax({
                url : path2+'/CTKJBUSINESS/vest/vestlist.do',
                cache:true,//false就不会从浏览器缓存中加载请求信息了
                type:"POST",
                contentType: "application/json",
                dataType:"JSON",
                async:false,
                data: tjdatas,
                //data: {taglevel:3,pageno:1,pagesize:999},
                error: function(data){
                    layer.msg("服务器未响应,请稍后再试!");
                    //console.log("马甲用户列表失败：");
                    //console.log(data);
                },
                success:function(diskJson){
//                    console.log("马甲用户列表所有获取：");
//                    console.log(diskJson);
                    if(diskJson.code =="1000"){
                        allotmajia.items=diskJson.data.rows;
                    }else{
                        layer.msg("马甲用户列表获取失败！！")
                    }




                }
            });
        }

        /*马甲列表指定账号*/
        function majialist2(createuser){
            var tjdatas={"pageno":1,"pagesize":999,"createuser":createuser};
           // console.log(tjdatas);
            tjdatas=JSON.stringify(tjdatas);
            $.ajax({
                url : path2+'/CTKJBUSINESS/vest/vestlist.do',
                cache:true,//false就不会从浏览器缓存中加载请求信息了
                type:"POST",
                contentType: "application/json",
                dataType:"JSON",
                async:false,
                data: tjdatas,
                //data: {taglevel:3,pageno:1,pagesize:999},
                error: function(data){
                    layer.msg("服务器未响应,请稍后再试!");
                    //console.log("马甲用户列表失败：");
                    //console.log(data);
                },
                success:function(diskJson){
//                    console.log("马甲用户列表指定的获取：");
//                    console.log(diskJson);
                    if(diskJson.code =="1000"){
                        var checkmajia=[];
                        $.each(diskJson.data.rows,function(i,n){
                            checkmajia.push(n.userid);
                        });

                        allotmajia.checkmajia=checkmajia;//已经选择的马甲放在这个数组里
                    }else{
                        layer.msg("马甲用户列表获取失败！！")
                    }
                }
            });
        }


        /*分配马甲*/
        function choosemaja(sysuserid,vestuserid){
            var tjdatas={"sysuserid":sysuserid,"vestuserid":vestuserid};
         //   console.log(tjdatas);
            tjdatas=JSON.stringify(tjdatas);
            $.ajax({
                url : path2+'/CTKJBUSINESS/vest/givevestuser.do',
                cache:true,//false就不会从浏览器缓存中加载请求信息了
                type:"POST",
                contentType: "application/json",
                dataType:"JSON",
                async:false,
                data: tjdatas,
                //data: {taglevel:3,pageno:1,pagesize:999},
                error: function(data){
                    layer.msg("服务器未响应,请稍后再试!");
                    //console.log("马甲用户列表失败：");
                    //console.log(data);
                },
                success:function(diskJson){
//                    console.log("分配马甲：");
//                    console.log(diskJson);
                    if(diskJson.code =="1000"){

                        tabledata.items[allotmajia.tabledataindex].tusercount=allotmajia.checkmajia.length;
                    }else{
                        layer.msg("马甲用户列表获取失败！！")
                    }
                }
            });
        }
    </script>

    
    

