<style>
    #backbtn{float:right;margin-top:-9px;}
    #tablelistbox .dotd select{width:55px;}
</style>
    <div class="wrapper wrapper-content  animated fadeInRight">
        <h4>内容分配 <button type="button" class="btn btn-sm btn-primary" id="backbtn">返回》</button></h4>
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox-content">
                    <div class="jqGrid_wrapper" id="tablelist">
                        <!--   <table id="table_list_2"></table>-->
                        <table  class="table table-striped" id="tablelistbox">
                            <thead>
                            <tr>
                                <th>账号</th>
                                <th>用户名</th>
                                <th>最后登陆时间</th>
                                <th>当前审核内容编号</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody id="tablelistTbody">
                            <tr v-for="(item,index) in items" :data-id="item.userid">
                                <td class="center">{{item.userid}}</td>
                                <td>{{item.username}}</td>
                                <td class="center">{{item.lastlogin }}</td>
                                <td class="center">{{item.usernum}}</td>
                                <td class="center dotd">
                                    <select name="">
                                        <option  v-for="(itemnum,numindex) in numlist" :value="itemnum.numid">{{itemnum.numid}}</option>
                                    </select>
                                    <button type="button" class="allotsurebtn btn btn-default"  v-on:click="greet(index)">确定</button>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                        <div id="pagerlist">
                            <div id="pagerbtnlist">
                                <span class="glyphicon glyphicon-backward gbtn" id="prepagebtn" onclick="prepage()"></span>
                                    <span class="addpagebox">
                                        <span id="jumppage" onclick="jumppage()">跳转到</span>
                                        <input type="number" id="addpageinput" value="1" max="" min="1"/>
                                        共 <span id="allpage">1</span>页
                                    </span>
                                <span class="glyphicon glyphicon-forward gbtn" id="nextpagebtn" onclick="nextpage()"></span>
                            </div>
                            <div id="allcontbox">
                                <p id="allconts"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Page-Level Scripts -->
    <script>
        $("#backbtn").click(function(){
            $("#pageLoadBox").load("permissionform.html");
        });
        var tabledata = new Vue({
            el: '#tablelistTbody',
            data: {
                items:[],
                numlist:[]
            },
            // 在 `methods` 对象中定义方法
            methods: {
                greet: function (event) {
                    layer.confirm('确定绑定该批次号吗？', {
                        btn: ['确定','取消'] //按钮
                    }, function(index){
                        var userid=tabledata.items[event].userid;
                        var num=$("#tablelistTbody tr:nth-child("+(event+1)+") .dotd select").val();
                        boundnum(userid,num);
                        layer.close(index);
                    }, function(index){
                        layer.close(index);
                    });

                }
            }
        });
        getcheck(1);

        function getcheck(pageno){
            var datapost={};
            datapost=JSON.stringify(datapost);
            layer.msg('努力中...', {icon: 16,shade: [0.5, '#f5f5f5'],scrollbar: true,offset: '50px', time:20000}) ;
            $.ajax({
                url : path+'/CTKJBUSINESS/sysuser/workerlist.do',
                cache:false,//false就不会从浏览器缓存中加载请求信息了
                type:"POST",
                contentType: "application/json",
                dataType:"JSON",
                async:true,
                data: datapost,
                error: function(data){
                    layer.msg("服务器未响应,请稍后再试!");
//                    console.log("内容运营列表失败：");
//                    console.log(data);
                },
                success:function(diskJson){
                    layer.closeAll();
//                    console.log("内容运营列表：");
//                    console.log(diskJson);
                    if(diskJson.code=="1000"){
                        unallot();//未分配批次列表
                        /*翻页信息*/
                        pageinfo2(diskJson.data,pageno);//翻页控件信息
                        tabledata.items=diskJson.data.rows;
                    }else{
                        layer.msg("数据有误,请稍后再试!");
                    }


                }
            });
        }


        /*未分配批次列表*/
        function unallot(){
            var datapost={};
            datapost=JSON.stringify(datapost);
            layer.msg('努力中...', {icon: 16,shade: [0.5, '#f5f5f5'],scrollbar: true,offset: '50px', time:20000}) ;
            $.ajax({
                url : path+'/CTKJBUSINESS/sysuser/numlist.do',
                cache:false,//false就不会从浏览器缓存中加载请求信息了
                type:"POST",
                contentType: "application/json",
                dataType:"JSON",
                async:true,
                data: datapost,
                error: function(data){
                    layer.msg("服务器未响应,请稍后再试!");
//                    console.log("未分配批次列表失败：");
//                    console.log(data);
                },
                success:function(diskJson){
                    layer.closeAll();
//                    console.log("未分配批次列表：");
//                    console.log(diskJson);
                    if(diskJson.code=="1000"){
                        tabledata.numlist=diskJson.data.rows;
                    }else{
                        layer.msg("数据有误,请稍后再试!");
                    }


                }
            });
        }

        /*绑定运营归属批次*/
        function boundnum(userid,num){
            var datapost={"userid":userid,"num":num};
            datapost=JSON.stringify(datapost);
            layer.msg('努力中...', {icon: 16,shade: [0.5, '#f5f5f5'],scrollbar: true,offset: '50px', time:20000}) ;
            $.ajax({
                url : path+'/CTKJBUSINESS/sysuser/bindUserNum.do',
                cache:false,//false就不会从浏览器缓存中加载请求信息了
                type:"POST",
                contentType: "application/json",
                dataType:"JSON",
                async:true,
                data: datapost,
                error: function(data){
                    layer.msg("服务器未响应,请稍后再试!");
//                    console.log("绑定批次失败：");
//                    console.log(data);
                },
                success:function(diskJson){
                    layer.closeAll();
//                    console.log("绑定批次：");
//                    console.log(diskJson);
                    if(diskJson.code=="1000"){
                        layer.msg("批次绑定成功!!");
                        var pagenum=$("#addpageinput").val();
                        getcheck(pagenum);
                    }else{
                        layer.msg("数据有误,请稍后再试!");
                    }


                }
            });
        }

    </script>

    
    

