/* 通用样式*/
header,#top_main,nav,#banner,footer,section{
    border:1px solid black;
}
body{
    font:12px "microsoftyahei",Arial,Helvertica,sans-serif;
    color:#666;
    margin:0;
    padding:0;
}
ul,ol,p,h1,h2,h3,h4,h5,h6,dl,dt,dd{
    margin:0;
    padding:0;
    list-style:none;
}
input{
    border:none;
}
a{
    color:#666;
    text-decoration:none;
}
a:hover{
    color:#ff0700;
    text-decoration:none;
}
.lf{
    float:left;
}
.rt{
    float:right;
}
.clear{
    clear:both;
}


/*头部*/
#header{width:100%;height:60px;background:#FFE121;border-bottom:1px solid #ddd;}
#header .headerContainer{width:75%;height:100%;margin:0 auto;line-height: 60px;}
#header .logoimg{height:70%;width: auto;vertical-align: middle;margin-right:20px;}
#header .info{display: inline-block;width:45px;height:60px;line-height: 60px;text-align: center;color:#fff;background:#FF3D6F;cursor: pointer}
