/* 通用样式*/
@font-face {
    font-family: 'MiNiJian';   /*字体名称*/
    src: url('HYQinChuanFeiYingW-2.ttf');       /*字体源文件*/
}
html,body{width:100%;height:100%;}
body{
    font:12px MiNiJian,"宋体";
    color:#666;
    margin:0;
    padding:0;
    background:#fff;
    -webkit-text-size-adjust : 100% ;
    -moz-text-size-adjust : 100% ;
    -ms-text-size-adjust : 100% ;
    text-size-adjust : 100%;
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;
}

ul,ol,p,h1,h2,h3,h4,h5,h6,dl,dt,dd{
    margin:0;
    padding:0;
    list-style:none;
}
input{
    border:none;
}
input:active,
input:focus{outline:none;}
button:active,
button:focus{outline:none;}
a{
    color:#666;
    text-decoration:none;
}
a:hover{
    color:#ff0700;
    text-decoration:none;
}
.lf{
    float:left;
}
.rt{
    float:right;
}
.clear{
    clear:both;
}


*{box-sizing: border-box;}
[v-cloak]{display: none;}
.btn{display: inline-block;padding:6px 9px;background:#FF698F;color:#fff;text-align: center;cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;}
.btn img{width:100%;height:auto;}

.conntentsBox{width:100%;background-size:cover;padding:80px;position: relative;overflow: hidden;min-height:100%;}
.actPages{width:100%;height:100%;display: none;text-align: center;font-size:2.4rem;position: relative;margin-top:50px;}
.actPages.active{display: block;}
.actpagebg{width:100%;height:100%;position: absolute;top:0;left:0;z-index:-1;}


#music{
    width: 8%;
    position: absolute;
    padding: 5px;
    top: 2%;
    right: 4%;
    z-index: 99;
}

#cnzz_stat_icon_1274437800{display: none;}
#beginTest{width:250px;height:80px;font-size:2.2rem;}


#loading_hype_containerBox{position: absolute;width:100%;height:100%;z-index:999;}
#loading_hype_containerBox .HYPE_scene{ background-color: rgba(255, 255, 255, 0.2) !important;}
#moonImg{width:100%;height:auto;position: absolute; left: 50%;top: 50%;transform: translate(-50%, -50%);opacity: 0;z-index:55;}
#indexIntroBox{width:100%;position: absolute; left: 50%;top: 70%;transform: translate(-50%, -50%);z-index:40;}
#indexIntroBox .intro{width:100%;text-align: center;font-size:2.4rem;color:#e6e6e6;line-height: 100px;opacity: 0;letter-spacing:5px;
text-shadow: 0 0 15px #666; transition: text-shadow 2s cubic-bezier(0, 1, 0, 1);
    -webkit-transition: text-shadow 2s cubic-bezier(0, 1, 0, 1);
    -moz-transition: text-shadow 2s cubic-bezier(0, 1, 0, 1);
    -o-transition: text-shadow 2s cubic-bezier(0, 1, 0, 1);}
#indexIntroBox .playBtnBox{margin-top:75px;}
#indexIntroBox .intro img{height:42px;width:auto;}
#playBtn{width:150px;height:auto;}
#infoInputBox{width:100%;display:none;background:url("https://ctkj-1256675270.cos.ap-shanghai.myqcloud.com/active/srbj.png") no-repeat;height: 870px;padding:105px;background-size: cover;margin:0 auto;margin-top:40%;z-index:59;position: relative;text-align: center;opacity: 0;}
#infoInputBox input{text-align: center;font-size:2.5rem;color:#333;width:100%;border:0;border-bottom:1px solid #b1adad;height:90px;margin-top:50px;background:none;font-weight:600;vertical-align:middle;}
#playBtn{background:url("../img/play.png") no-repeat;width:150px;height:150px;margin:0 auto;border:none;background-size: cover;cursor: pointer;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
#playBtn2{background:url("../img/play2.png") no-repeat;width:285px;height:90px;margin:0 auto;border:none;margin-top:34%;background-size: cover;cursor: pointer;display: inline-block; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
#video{position: absolute;left:0;top:0;z-index:50;display: none;opacity: 0;}
#video2Box{position: absolute;left:0;top:0;z-index:50;display: none;opacity: 1;background:#000;overflow: hidden;width:100%;height:100%;}
#video2{width:100%;height:100%;position: absolute;left:0;bottom:-140px;}
#video2Box .fox{width:100%;height:100%;position: fixed;left:0;top:0;z-index:99999;background:#000;}
#canvas{position: absolute;left:0;top:0;z-index:50;display: none;}
#indexvideo{opacity: 0;display: none;}

#endPage{width:100%;height:100%;background: url("https://ctkj-1256675270.cos.ap-shanghai.myqcloud.com/active/endbg.png") no-repeat;background-size: cover;position: absolute;left:0;top:0;z-index:80;display: none;opacity: 0;}
#moshuibg{opacity:0;width:1%;height:auto;position: absolute;right:0;top:0;z-index:81;}
#endPage .endContBox{opacity:0;width:100%;height:100%;position: absolute;left:0;top:0;z-index:82;padding-top:120px;text-align: center;color:#333;}
#endPage .endContBox .title{font-size: 2.7rem;font-family: cursive;}
#endPage .endContBox .tagBoxs{margin-top:9px;text-align: center;font-size: 2.7rem;}
#endPage .tagBoxs .userTag{display: inline-block;padding:4px 18px;border:1px solid #333;margin:2px 3px;}
#endUserMoon{width:65%;height:auto;margin:10px auto;}
#userMoonStyle{font-size:6rem;letter-spacing: 13px;margin-top:-55px;color:#333;}
#userVersion{font-size:2.9rem;letter-spacing: 9px;width:72%;margin:0 auto;margin-top:110px;}



