<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,minimum=1.0,user-scalable=no">
    <!--强制页面横屏或竖屏显示 content：landscape|portrait-->
    <meta name="screen-orientation" content="landscape">
    <meta content="telephone=no" name="format-detection" />

    <meta property="og:title" content="内含段子">

    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Access-Control-Allow-Origin" content="*" />
    <META HTTP-EQUIV="Expires" CONTENT="0">
    <!-- 分享显示的标题-->
    <meta itemprop="name" content="内含段子" />
    <!-- 分享显示的缩略图-->
    <meta itemprop="image" content="https://ctkj-1256675270.cos.ap-shanghai.myqcloud.com/nhdzlogo.png" />
    <!-- 分享显示的简介-->
    <meta name="description" itemprop="description" content="" />

    <title>内含段子</title>
    <link href="https://ctkj-1256675270.cos.ap-shanghai.myqcloud.com/nhdzlogo.png" rel="shortcut icon">
    <link rel="stylesheet" href="css/common.css"/>
    <link rel="stylesheet" href="plugin/font/iconfont.css"/>

    <script type="application/javascript" src="https://ctkj-1256675270.cos.ap-shanghai.myqcloud.com/jquery.min.js"></script>
    <script type="application/javascript" src="https://ctkj-1256675270.cos.ap-shanghai.myqcloud.com/vue.js"></script>
    <script type="application/javascript" src="plugin/layer/layer.js"></script>

    <!-- 必须引入的文件-->
    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script type="application/javascript" src="https://ctkj-1256675270.file.myqcloud.com/jquery.min.js"></script>
    <script src="js/sha1.js"></script>
    <!-- 微信分享时调用对应的接口js文件-->
    <script src="js/wxShare.js"></script>
</head>
<body>
    <div class="conntentsBox">
        <a id="shareHeader" class="downhrefbtn"  href="isshare.html">
            <img class="shareHeaderImg" style="width:100%;height:auto;"  src="https://ctkj-1256675270.cos.ap-shanghai.myqcloud.com/appshareneihan/shareTitle.png" alt=""/>
           <!-- <div class="logobox">
                <img class="logo" src="img/logo.png" alt="logo"/>
                <span>
                    头图
                </span>
            </div>
            <a class="downhrefbtn"  href="#"  id="downappbtn">下 载</a>-->
        </a>
        <div id="mainContenBigBox">
            <div class="conntentsBox" id="mainContentBox" v-cloak>
                <p id="contentTittle">{{commendTitle}}</p>
                <div id="mainContntShowbox">


                </div>

            </div>
            <div style="text-align: center;margin-top:25px;">
                <a class="downhrefbtn btn"  href="isshare.html" id="seeDetails">
                    <div id="userheadbox">
                        <div class="titleBox">
                            <div class="headTitleBox">
                                <img class="caidan"  v-if="guajianurl !=0" v-bind:src="guajianurl" alt=""/>
                                <span class="imgbox">
                            <img class="logo" v-bind:src="userheadphoto" alt="logo"/>
                        </span>
                            </div>
                            <div class="userNameBox">
                                <h4 class="title">{{userhead}}</h4>
                                <p v-if="usernumber!=''">段友号：{{usernumber}}</p>
                                <p>我在 <span style="color:#FF698F">内含段子</span>邀请你加入</p>
                            </div>
                        </div>
                        <img class="joinImg" src="https://ctkj-1256675270.cos.ap-shanghai.myqcloud.com/appshareneihan/join.png" alt="">
                        <!-- <a class="downhrefbtn btn"  href="downhref"  id="attentBtn"> <img src="https://ctkj-1256675270.cos.ap-shanghai.myqcloud.com/sharefocus.png" alt=""/></a>-->
                    </div>
                </a>
            </div>
        </div>

        <!--更多推荐-->
        <div id="moreRecommendBox" v-cloak>
            <h3 class="title">
                <img class="titleimg" src="https://ctkj-1256675270.cos.ap-shanghai.myqcloud.com/shareNhdz/moreforu.png" alt="">
            </h3>
            <div class="allrecommendBox" style="overflow: hidden;">
                <div class="rcommendBox" v-for="(item,index) in items" v-bind:data-id="item.tagid">
                    <a class="downhrefbtn concernBtn" v-bind:href="downhref" >
                         <span class="rcommendTitleBox">
                            <img v-bind:src="item.tagimg" alt=""/>
                          </span>
                          <p class="rcommendTitle">{{item.tagalias}}</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!--分享按钮组-->
<!--    <div class="bdsharebuttonbox" data-tag="share_1">
        <a class="bds_mshare" data-cmd="mshare"></a>
        <a class="bds_qzone" data-cmd="qzone" href="#"></a>
        <a class="bds_tsina" data-cmd="tsina"></a>
        <a class="bds_baidu" data-cmd="baidu"></a>
        <a class="bds_renren" data-cmd="renren"></a>
        <a class="bds_tqq" data-cmd="tqq"></a>
        <a class="bds_more" data-cmd="more">更多</a>
        <a class="bds_count" data-cmd="count"></a>
    </div>-->


<script type="application/javascript" src="js/index.js"></script>
<script type="text/javascript">

    var commendinfo = new Vue({
        el: '#mainContenBigBox',
        data: {
            "items": [],
            "userhead":"游客",
            "guajianurl":"",
            "commendTitle":"",
            "usernumber":"",
            "userheadphoto":"https://ctkj-1256675270.cos.ap-shanghai.myqcloud.com/nhdzhead.png"

        },
        // 在 `methods` 对象中定义方法
        methods: {
            goods: function (event,i) {

            }
        }
    });


    /*更多推荐*/
    var commendmore = new Vue({
        el: '#moreRecommendBox',
        data: {
            downhref:"isshare.html",
            items: [
                {"tagimg":"https://ctkj-1256675270.cos.ap-shanghai.myqcloud.com/shareNhdz/01.jpg","tagalias":"上辈子拯救过宇宙才能娶到这么美的媳妇儿吧"},
                {"tagimg":"https://ctkj-1256675270.cos.ap-shanghai.myqcloud.com/shareNhdz/02.jpg","tagalias":"他真的改行了，看来把我大话听进去了"},
                {"tagimg":"https://ctkj-1256675270.cos.ap-shanghai.myqcloud.com/shareNhdz/03.jpg","tagalias":"你见过二哈拆家是的眼神吗？"},
                {"tagimg":"https://ctkj-1256675270.cos.ap-shanghai.myqcloud.com/shareNhdz/04.jpg","tagalias":"二哈哭的跟个孩子似的"},
                {"tagimg":"https://ctkj-1256675270.cos.ap-shanghai.myqcloud.com/shareNhdz/05.jpg","tagalias":"令人怀念的青春啊，还是上学好～"},
                {"tagimg":"https://ctkj-1256675270.cos.ap-shanghai.myqcloud.com/shareNhdz/06.jpg","tagalias":"这就是我每天去学校的原因！"},
                {"tagimg":"https://ctkj-1256675270.cos.ap-shanghai.myqcloud.com/shareNhdz/07.jpg","tagalias":"怎么判断你男朋友是真睡还是装睡？"},
                {"tagimg":"https://ctkj-1256675270.cos.ap-shanghai.myqcloud.com/shareNhdz/08.jpg","tagalias":"姓王的人最怕什么？"},
                {"tagimg":"https://ctkj-1256675270.cos.ap-shanghai.myqcloud.com/shareNhdz/09.jpg","tagalias":"我真的感觉到恋爱了，不开玩笑！"},
                {"tagimg":"https://ctkj-1256675270.cos.ap-shanghai.myqcloud.com/shareNhdz/10.jpg","tagalias":"这是什么沙雕屏保？"},
                {"tagimg":"https://ctkj-1256675270.cos.ap-shanghai.myqcloud.com/shareNhdz/11.jpg","tagalias":"明明是亲儿子，竟然想当我爸爸"},
                {"tagimg":"https://ctkj-1256675270.cos.ap-shanghai.myqcloud.com/shareNhdz/12.jpg","tagalias":"男方队终于扳回一局!现在是二比九十八! "},
                {"tagimg":"https://ctkj-1256675270.cos.ap-shanghai.myqcloud.com/shareNhdz/13.jpg","tagalias":"男孩子在外面一定要保护好寄几"},
                {"tagimg":"https://ctkj-1256675270.cos.ap-shanghai.myqcloud.com/shareNhdz/14.jpg","tagalias":"真是个撩死人的小可爱没错了！"},
                {"tagimg":"https://ctkj-1256675270.cos.ap-shanghai.myqcloud.com/shareNhdz/15.jpg","tagalias":"生活不易，全凭演技"},
                {"tagimg":"https://ctkj-1256675270.cos.ap-shanghai.myqcloud.com/shareNhdz/16.jpg","tagalias":"宿醉醒来看到这个场景怎么办？"},
                {"tagimg":"https://ctkj-1256675270.cos.ap-shanghai.myqcloud.com/shareNhdz/17.jpg","tagalias":"最强大脑测试，谁知道答案？写下来"},
                {"tagimg":"https://ctkj-1256675270.cos.ap-shanghai.myqcloud.com/shareNhdz/18.jpg","tagalias":"做作业全凭想象系列，这孩子脑路清奇啊"},
            ]
        },
        // 在 `methods` 对象中定义方法
        methods: {
            goods: function (event,i) {

            }
        }
    });




    $(function(){
        iscontendtype();
    });


    /*获取url判断类型*/
    function iscontendtype(){
     //  var loctionsrc='?contendid=965a418e6e0511e8b56d309c23a27303&userheadphoto=https://ctkj-1256675270.cos.ap-shanghai.myqcloud.com/nhdzhead.png&username=朱豪华';//假设得到的location.search; //获取url中"?"符后的字串
     // var loctionsrc='?contendid%3DaimmKpk5ZB7WCpfPOfr1542179917889%26userheadphoto%3D%26username%3D%26usernumber%3D244';//假设得到的location.search; //获取url中"?"符后的字串
       var loctionsrc= window.location.search;
        wxfxxinfo.link="https://active.diqyj.cn/share_connotation/shareindex.html"+loctionsrc;
        loctionsrc=decodeURIComponent(loctionsrc);
//       var loctionsrc= window.location.search;
        var urldatas=GetRequest(loctionsrc);
        // console.log("urldatas::");
        // console.log(urldatas);
        if(urldatas.userheadphoto && urldatas.userheadphoto !=""){
            commendinfo.userheadphoto=urldatas.userheadphoto;
        }

        if(urldatas.usernumber && urldatas.usernumber !=""){
            commendinfo.usernumber=urldatas.usernumber;
        }
        if(urldatas.username && urldatas.username !=""){
            let username="";
            if(urldatas.username.length>8){
                username=urldatas.username.substring(0,7)+"...";
            }else{
                username=urldatas.username;
            }
            commendinfo.userhead=username;
        }
        if(urldatas.contendid && urldatas.contendid!=""){
            getcommonddatas(urldatas.contendid);
        }else{
            window.location.href="sharelack.html"
        }

    }

    function getcommonddatas(postdata){
        var tjdatas={"contentid":postdata};
//        console.log("tjdatas:");
//        console.log(tjdatas);
//        tjdatas=JSON.stringify(tjdatas);

        $.ajax({
            url : path2+'/content/sharecontent.do',
            cache:false,//false就不会从浏览器缓存中加载请求信息了
            type:"POST",
//            contentType: "application/json",
            dataType:"JSON",
            async:true,
            data: tjdatas,
            error: function(data){
                layer.msg("服务器未响应,请稍后再试!");
                console.log("获取失败：");
                console.log(data);
            },
            success:function(diskJson){
               // console.log("gettijiao2:");
               // console.log(diskJson);
                if(diskJson.code =="1000"){
                    if(diskJson.data.contentid && diskJson.data.contentid!=""){
                        condataqf(diskJson.data);
                    }else{
                       window.location.href="sharelack.html"
                    }

                }else{

                    layer.msg("网络异常，请重试！！")
                }

            }
        });
    }

    function condataqf(condatas){
         //console.log(condatas);
         if(condatas.isshowtitle==1){
             if(condatas.contenttitle && condatas.contenttitle !=""){
                 commendinfo.commendTitle=condatas.contenttitle;
                 wxfxxinfo.title=condatas.contenttitle;
             }
         }else{
             commendinfo.commendTitle="";
             wxfxxinfo.title="";
         }


        if(condatas.guajianurl && condatas.guajianurl !=""){
            commendinfo.guajianurl=condatas.guajianurl;
        }else{
            commendinfo.guajianurl=0;
        }

        if(condatas.contenttype == "1" || condatas.contenttype == "2"){

            $("#mainContntShowbox").css({"height":"auto"});
            $("#mainContntShowbox").load("moviedetial.html",function(){
                var movieurl=JSON.parse(condatas.contenturllist);
//               console.log(movieurl);
                $("#video").attr("src",movieurl[1]);
                $("#video").attr("poster",movieurl[0]);
                wxfxxinfo.imgUrl=movieurl[0];

            })
        }else if(condatas.contenttype == "3" || condatas.contenttype == "4"){

            $("#mainContntShowbox").css({"height":"auto"});
            var picturelist=JSON.parse(condatas.contenturllist);
            wxfxxinfo.imgUrl=picturelist[0];
            $("#mainContntShowbox").load("picturedetial.html",function(){
                if(picturelist.length==1){
                    $("#pictureList").addClass("along");
                }
                picdata(picturelist);
            })
        }

        /*获取更多推荐*/
        var conttendtag=condatas.contenttag.split(";")[0];
        //getmoretj(conttendtag)
    }


    /*获取更多推荐*/
    function getmoretj(conttendtag){
       var tjdatas={"tagid":conttendtag};
        tjdatas=JSON.stringify(tjdatas);
       // console.log(tjdatas);
        $.ajax({
            url :path2+'/bannertag/sharesmalltag.do',
            cache:false,//false就不会从浏览器缓存中加载请求信息了
            type:"POST",
            contentType:"application/json",
            dataType:"JSON",
            async:true,
            data: tjdatas,
            error: function(data){
                layer.msg("服务器未响应,请稍后再试!");
                console.log("获取失败：");
                console.log(data);
            },
            success:function(diskJson){
                console.log("更多推荐:");
                console.log(diskJson);
                if(diskJson.code =="1000"){
                    commendmore.items=diskJson.data.rows;
                }else{
                    layer.msg("网络异常，请重试！！")
                }

            }
        });
    }


</script>
</body>
</html>