<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta content=”initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width” name=”viewport” />
    <meta content=”telephone=no” name=”format-detection” />
    <META HTTP-EQUIV="pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
    <META HTTP-EQUIV="expires" CONTENT="0">
    <title>头图</title>
    <link href="img/logo.png" rel="shortcut icon">
    <link rel="stylesheet" href="css/common.css"/>
    <link rel="stylesheet" href="plugin/font/iconfont.css"/>

    <script type="application/javascript" src="https://ctkj-1256675270.cos.ap-shanghai.myqcloud.com/jquery.min.js"></script>
    <script type="application/javascript" src="https://ctkj-1256675270.cos.ap-shanghai.myqcloud.com/vue.js"></script>
    <script type="application/javascript" src="plugin/layer/layer.js"></script>

</head>
<body>
    <div class="conntentsBox">
        <a id="shareHeader" class="downhrefbtn"  href="#">
            <img class="shareHeaderImg" style="width:100%;height:auto;" src="https://ctkj-1256675270.cos.ap-shanghai.myqcloud.com/titltbg3.png" alt=""/>
           <!-- <div class="logobox">
                <img class="logo" src="img/logo.png" alt="logo"/>
                <span>
                    头图
                </span>
            </div>
            <a class="downhrefbtn"  href="#" id="downappbtn">打 开</a>-->
        </a>

        <div class="conntentsBox" id="themeContentBox" style="text-align: center;">
            <div>
                <img class="themeContentHead" v-bind:src="userheadphoto" alt="头像"/>
            </div>
            <div style="width:60%;margin:10px auto;text-align: center;margin-bottom:26px;">
                <h3 class="themecontitle">{{userhead}}</h3>
                <p class="themContaine">{{commendTitle}}</p>
            </div>
            <a class="downhrefbtn btn attentBtn"  href="#" id="themeAttentBtn"><img src="https://ctkj-1256675270.cos.ap-shanghai.myqcloud.com/sharefocus.png" alt=""/></a>

        </div>
        <!--主题内容-->
        <!--/*------自定义的图片左右切换-----------*/-->
        <!--图片放大展示-->
        <div id="faxAllBox"  onclick="closeimg()">
            <div class="toptip"><span><b class="pre">1</b>/ <b class="all">1</b></span><b class="iconfont close" onclick="closeimg()">&#xe616;</b></div>
            <ul>

            </ul>
        </div>

        <div style="width:100%;height:20px;background:#f7f7f7;"></div>
        <div id="morecommendBox">
            <!--<h3 class="title">主题内容</h3>-->
            <div class="allrecommendBox" id="allThemeConBox">
                <div class="themeContent" v-for="(item,index) in items" v-bind:data-id="item.tagid">
                    <div class="conTitle">
                        <div class="headTitleBox">
                            <img class="caidan" v-if="item.guajianurl && item.guajianurl.length >0" v-bind:src="item.guajianurl" alt=""/>
                            <span class="imgBox"><img v-bind:src="item.userheadphoto" alt=""/></span>
                        </div>
                        <span class="conUserName">{{item.username}}</span>
                        <a class="downhrefbtn btn attentBtn"  v-bind:href="downhref"><img src="https://ctkj-1256675270.cos.ap-shanghai.myqcloud.com/sharefocus.png" alt=""/></a>
                    </div>
                    <p class="contentcomment">{{item.contenttitle}}</p>
                    <div class="themeMainBox">
                        <div  v-if="item.contenttype ==3 || item.contenttype ==4"  class="thempictureBox">
                            <div class="conntentsBox pictureList" v-bind:class="{ along: (item.contenturllist.length ==1)?true:false }">
                                <span v-for="(pitem,index2) in item.contenturllist" :style="{backgroundImage: 'url('+pitem+')'}" class="imgbox wimg" v-on:click="showimg(item.contenturllist,index2)">
                                  <!--  <img v-bind:src="pitem" alt=""/>-->
                                </span>
                            </div>
                        </div>
                        <div v-else class="videoBox">
                            <video id="video" x5-video-player-type="h5"  controls="controls" height="100%" width="100%" v-bind:poster="item.contenturllist[0]">
                                <source v-bind:src="item.contenturllist[1]">
                                Your browser does not support the video tag.
                            </video>
                        </div>

                    </div>
                    <div class="btngroupBox">
                        <a class="downhrefbtn attentBox" v-bind:href="downhref"><img src="https://ctkj-1256675270.cos.ap-shanghai.myqcloud.com/praise@2x.png" alt=""/><i class="attentNum">{{item.contentgood}}</i></a>
                        <a class="downhrefbtn newsBox" v-bind:href="downhref"><img src="https://ctkj-1256675270.cos.ap-shanghai.myqcloud.com/comments2x.png" alt=""/><i class="newsNum">{{item.contentcomment}}</i></a>
                        <a class="downhrefbtn more"  v-bind:href="downhref"><img src="https://ctkj-1256675270.cos.ap-shanghai.myqcloud.com/report2x.png" alt=""/></a>

                    </div>
                </div>

            </div>
        </div>
        <div style="text-align: center;margin:40px 0;">
            <a class="downhrefbtn btn"  href="#" id="seeDetails" >打开头图APP，阅读更多内容</a>
        </div>
        <!--更多推荐-->
        <div id="moreRecommendBox" v-cloak>
            <h3 class="title">更多推荐</h3>
            <div class="allrecommendBox">
                <div class="rcommendBox" v-for="(item,index) in items" v-bind:data-id="item.tagid">

                    <div class="recommendLeftBox">
                          <span class="rcommendTitleBox">
                        <img v-bind:src="item.tagimg" alt=""/>
                    </span>
                    </div>
                    <div class="recommendMiddleBox">
                        <a v-bind:href="'sharetheme.html?tagid='+item.tagid" class="rcommendCon">
                        {{item.tagalias}}
                        </a>
                    </div>

                    <a download="" class="concernBtn"> <i class="iconfont">&#xe613;</i>关注</a>
                </div>
            </div>
        </div>
    </div>

    <!--分享按钮组-->
<!--    <div class="bdsharebuttonbox" data-tag="share_1">
        <a class="bds_mshare" data-cmd="mshare"></a>
        <a class="bds_qzone" data-cmd="qzone" href="#"></a>
        <a class="bds_tsina" data-cmd="tsina"></a>
        <a class="bds_baidu" data-cmd="baidu"></a>
        <a class="bds_renren" data-cmd="renren"></a>
        <a class="bds_tqq" data-cmd="tqq"></a>
        <a class="bds_more" data-cmd="more">更多</a>
        <a class="bds_count" data-cmd="count"></a>
    </div>-->

    <script type="application/javascript" src="js/index.js"></script>
<script>

    var themcommendinfo = new Vue({
        el: '#themeContentBox',
        data: {
            "items": [],
            "userhead":"",
            "commendTitle":"",
            "userheadphoto":"img/logo.png"

        },
        // 在 `methods` 对象中定义方法
        methods: {
            goods: function (event,i) {

            }
        }
    });


    /*主题内容*/
    var themcommendmore = new Vue({
        el: '#allThemeConBox',
        data: {
            items: "",
            downhref:""
        },
        // 在 `methods` 对象中定义方法
        methods: {
            showimg: function (event,i) {
              /*  console.log(event);
                console.log(i);*/
                /*------自定义的图片左右切换-----------*/
                $("#faxAllBox").addClass("show");
                $("#faxAllBox ul").empty();
                $("#faxAllBox .toptip b.all").html(event.length);
                $("#faxAllBox .toptip b.pre").html(i+1);
                var w=$(window).width();
                var w2=w*event.length+"px";
                $("#faxAllBox ul").css("width",w2);
                var stw='width:'+w+"px";
                $.each(event,function(c,t){
                    if(c==i){
                        $("#faxAllBox ul").append('<li style="'+stw+'" class="show" data-type="'+(c+1)+'"><div class="simgbox"><span class="simgspan"><img src="'+ t+'" alt=""/></span></div> </li>')
                    }else{
                        $("#faxAllBox ul").append('<li style="'+stw+'" data-type="'+(c+1)+'"><div class="simgbox"><span class="simgspan"><img src="'+ t+'" alt=""/></span></div> </li>')
                    }
                })


            }
        }
    });

    /*更多推荐*/
    var commendmore = new Vue({
        el: '#moreRecommendBox',
        data: {
            items: "",
            downhref:""
        },
        // 在 `methods` 对象中定义方法
        methods: {
            goods: function (event,i) {

            }
        }
    });
    $(function(){
        iscontendtype();
        phoneType();
    });

    /*手机类型判断*/
    function phoneType() {
        var u = navigator.userAgent;
        if (u.indexOf('Android') > -1 || u.indexOf('Linux') > -1) {//安卓手机
            //alert("安卓手机");
            $(".downhrefbtn").attr("href","http://sj.qq.com/myapp/detail.htm?apkName=com.caotu.toutu");
            themcommendmore.downhref="http://sj.qq.com/myapp/detail.htm?apkName=com.caotu.toutu";//专题分享页的更多主题内容
        } else if (u.indexOf('iPhone') > -1) {//苹果手机
            $(".downhrefbtn").attr("href","https://itunes.apple.com/cn/app/id1398165300?mt=8");
            themcommendmore.downhref="https://itunes.apple.com/cn/app/id1398165300?mt=8";//专题分享页的更多主题内容
            //alert("苹果手机");
        } else if (u.indexOf('Windows Phone') > -1) {//winphone手机
            //alert("winphone手机");
            $(".downhrefbtn").attr("href","http://sj.qq.com/myapp/detail.htm?apkName=com.caotu.toutu");
            themcommendmore.downhref="http://sj.qq.com/myapp/detail.htm?apkName=com.caotu.toutu";
        }
    }

    /*获取url判断类型*/
    function iscontendtype(){
//        var loctionsrc="?tagid=2341";//假设得到的location.search; //获取url中"?"符后的字串
        var loctionsrc= window.location.search;
        var urldatas=GetRequest(loctionsrc);
//        console.log("urldatas:");
//        console.log(urldatas);
        getcommonddatas(urldatas.tagid);
        getzhuti(urldatas.tagid);
        getmoretj(urldatas.tagid)

    }

    function getcommonddatas(postdata){
        var tjdatas={"tagid":postdata};
        tjdatas=JSON.stringify(tjdatas);

        $.ajax({
            url :path+'/CTKJSEVER/search/gettagdetail.do',
            cache:false,//false就不会从浏览器缓存中加载请求信息了
            type:"POST",
            contentType: "application/json",
            dataType:"JSON",
            async:true,
            data: tjdatas,
            error: function(data){
                layer.msg("服务器未响应,请稍后再试!");
                console.log("获取失败：");
                console.log(data);
            },
            success:function(diskJson){
                //layer.msg("获取成功");
//                console.log("主题:");
//                console.log(diskJson);
                if(diskJson.code =="1000"){
                    condataqf(diskJson.data);
                }else{
                    layer.msg("网络异常，请重试！！")
                }

            }
        });
    }

    function condataqf(condatas){
        if(condatas.tagimg && condatas.tagimg !=""){
            themcommendinfo.userheadphoto=condatas.tagimg;
        }
        if(condatas.tagalias && condatas.tagalias !=""){
            themcommendinfo.userhead=condatas.tagalias;
        }
        if(condatas.taglead && condatas.taglead !=""){
            themcommendinfo.commendTitle=condatas.taglead;
        }

    }

    /*获取主题内容*/
    function getzhuti(conttendtag){
        var tjdatas={"querytag":conttendtag,"pageno":1,"pagesize":10,"querytype":"HOT"};
        tjdatas=JSON.stringify(tjdatas);
        // console.log(tjdatas);
        $.ajax({
            url : path+'/CTKJSEVER/search/gettagcontent.do',
            cache:false,//false就不会从浏览器缓存中加载请求信息了
            type:"POST",
            contentType:"application/json",
            dataType:"JSON",
            async:true,
            data: tjdatas,
            error: function(data){
                layer.msg("服务器未响应,请稍后再试!");
                console.log("获取失败：");
                console.log(data);
            },
            success:function(diskJson){
                console.log("获取主题内容:");
                console.log(diskJson);
                if(diskJson.code =="1000"){
                    themcommendmore.items=diskJson.data;
                    $.each(diskJson.data,function(i,n){
                        var mplist=JSON.parse(n.contenturllist);
                        //console.log(mplist);
                        themcommendmore.items[i].contenturllist=mplist;
                       // console.log(themcommendmore.items[i])
                    })

                }else{
                    layer.msg("网络异常，请重试！！")
                }

            }
        });
    }

    /*获取更多推荐*/
    function getmoretj(conttendtag){
        var tjdatas={"tagid":conttendtag};
        tjdatas=JSON.stringify(tjdatas);
         //console.log(tjdatas);
        $.ajax({
            url : path2+'/CTKJSEVER/bannertag/sharesmalltag.do',
            cache:false,//false就不会从浏览器缓存中加载请求信息了
            type:"POST",
            contentType:"application/json",

            dataType:"JSON",
            async:true,
            data: tjdatas,
            error: function(data){
                layer.msg("服务器未响应,请稍后再试!");
                console.log("获取失败：");
                console.log(data);
            },
            success:function(diskJson){
  /*              console.log("更多推荐:");
                console.log(diskJson);*/
                if(diskJson.code =="1000"){
                    commendmore.items=diskJson.data.rows;
                }else{
                    layer.msg("网络异常，请重试！！")
                }

            }
        });
    }



</script>
</body>
</html>