
<style>
    #arryName,#pushtime{height:32px;text-align: center;}
    .surebtn{float:right;margin-right:7px;}
    table input{cursor: pointer;}
    /*编辑弹框*/
    #editPopBox{width:100%;height:100%;padding:10px;background:#fff;text-align: center;padding-bottom:25px;display: none;}
    #editPopBox .editBox{height:55px;margin-top:25px;font-size:14px;}
    #editPopBox .editBox select{margin-right:6px;}
    #editPopBox .btn{margin:1px 3px;}
</style>


<div style="padding-left:21px;margin:0;height:30px;line-height: 30px;margin-bottom:-10px;">
    页码：
    <select name="" data-page="1" id="temporaryPageChoose">

    </select>
</div>
<div class="wrapper wrapper-content  animated fadeInRight" id="alterTableList">
    <div style="padding-left:9px;margin:0;height:30px;line-height: 30px;margin-bottom:9px;">
        <h3 style="margin-bottom:7px;height:30px;line-height: 30px;">推荐列表
            <button type="button" class="btn btn-sm btn-primary surebtn" onclick="arrysure()">刷新</button>
        </h3>

    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox-content">
                <div class="jqGrid_wrapper" id="tablelist2">
                    <!--   <table id="table_list_2"></table>-->
                    <table  class="table table-striped tablelistbox" id="tablelistbox2">
                        <thead>
                        <tr>
                            <th></th>
                            <th>条码</th>
                            <th>内容</th>
                            <th>查看次数</th>
                            <th>点赞量</th>
                            <th>评论量</th>
                            <th>分享量</th>
                            <th>发布时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody id="tablelistTbody2">
                        <tr v-for="(item,index) in items" :data-id="item.contentid">
                            <td><input type="radio" :value="item"  v-model="chooselist" @change="chooseRadio(item,index)"/></td>
                            <td class="center">{{index+1}}</td>
                            <td class="center">{{item.contenttitle}}</td>
                            <td class="center">{{item.watchcount}}</td>
                            <td class="center">{{item.goodcount}}</td>
                            <td class="center">{{item.commentcount}}</td>
                            <td class="center">{{item.sharecount}}</td>
                            <td class="center">{{item.createtime | time}}</td>
                            <td class="center">
                                <button type="button" class="btn deletebtn" v-on:click="detail(item)">详情</button>
                            </td>
                        </tr>
                        <tr v-if="items.length <6" style="cursor: pointer;font-size:22px;">
                            <td  class="center"  colspan="10" v-on:click="add()">添加+</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight">
    <h3 style="padding-left:9px;margin:0;height:30px;line-height: 30px;">备选内容列表</h3>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox-content">
                <div class="jqGrid_wrapper" id="tablelist">
                    <!--   <table id="table_list_2"></table>-->
                    <table  class="table table-striped tablelistbox" id="tablelistbox">
                        <thead>
                        <tr>
                            <th>条码</th>
                            <th>内容</th>
                            <th>发布时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody id="tablelistTbody">
                        <tr v-for="(item,index) in items" :data-id="item.contentid">
                            <td class="center">{{item.pagenum}}页{{Number(item.indexno)+1}}条</td>
                            <td class="center">{{item.contenttitle}}</td>
                            <td class="center">{{item.createtime | time}}</td>
                            <td class="center">
                                <button type="button" class="btn deletebtn" v-on:click="detail(item)">详情</button>
                                <button type="button" class="btn deletebtn" v-on:click="redact(item)">编辑</button>
                                <button v-if="suser==1" type="button" class="btn deletebtn" v-on:click="changeRecond(item,index)">替换</button>
                                <button type="button" class="btn deletebtn" v-on:click="deletecon(item,index)" >删除</button>
                            </td>
                        </tr>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
<!--编辑弹框-->
<div id="editPopBox" class="shadePopBox">
    <div class="editBox">
        页码：
        <select name="" id="editPageSelect">
            <option value="0">第一页</option>
        </select>
        第几条：
        <select name="" id="editNumberSelect">
            <option value="0">第一条</option>
            <option value="1">第二条</option>
            <option value="2">第三条</option>
            <option value="3">第四条</option>
            <option value="4">第五条</option>
            <option value="5">第六条</option>
        </select>
    </div>
    <div>
        <button type="button" onclick="editcontpage()" class="btn editSureBtn btn-primary">确定</button>
        <button type="button" class="btn editCancelBtn">取消</button>
    </div>
</div>


<!-- Page-Level Scripts -->
<script>

    /*推荐列表*/
    var recondlist = new Vue({
        el: '#tablelistTbody2',
        data: {
            chooselist:[],//input框选择的
            chooselistnum:"",//nput框选择的条码
            postlist:[],//提交改变的条例
            items:[]
        },
        // 在 `methods` 对象中定义方法
        methods: {
            detail:function(event){
                reportdetail(event)
            },
            sure: function (event) {//刷新
                layer.confirm('确定刷新吗？', {
                    btn: ['确定','取消'] //按钮
                }, function(index){
                    layer.close(index);
                }, function(index){
                    layer.close(index);
                });
            },
            chooseRadio:function(event,ei){
                this.chooselistnum=ei+1;
            },
            add:function(){
                var ic=this.items.length;
                let postdata={"contentid":tabledata.items[0].contentid,"contenttitle":tabledata.items[0].contenttitle,"indexno":ic,"oldcontentid":"","pushid":tabledata.items[0].pushid,"userid":tabledata.items[0].userid};
                this.items.push(postdata);
                this.postlist.push(postdata);
                tabledata.items.splice(0,1);
            }
        }
    });

    /*备选内容列表*/
    var tabledata = new Vue({
        el: '#tablelistTbody',
        data: {
            items:[],
            suser:1
        },
        // 在 `methods` 对象中定义方法
        methods: {
            detail:function(event){//详情
                reportdetail(event)
            },
            changeRecond:function (event,ev) {//替换
                layer.confirm('确定替换吗？', {
                    btn: ['确定','取消'] //按钮
                }, function(index){
                   //console.log(recondlist.chooselistnum);
                    if(recondlist.chooselistnum && recondlist.chooselistnum !=""){
                       //console.log(1);
                        let ind=recondlist.chooselistnum-1;
                        let postdata={"contentid":event.contentid,"contenttitle":event.contenttitle,"indexno":ind,"oldcontentid":recondlist.items[ind].contentid,"pushid":event.pushid,"userid":event.userid};
                        recondlist.items.splice(ind,1,postdata);
                        recondlist.postlist.splice(ind,1,postdata);
                        tabledata.items.splice(ev,1);
                        recondlist.chooselistnum="";
                    }else{
                       //console.log(2);
                        layer.msg("请先选择需要替换的内容！！！")
                    }

                    layer.close(index);
                }, function(index){
                    layer.close(index);
                });
            },
            redact:function (event) {//编辑
                layer.open({
                    type: 1,
                    title: '备选队列页码选择',
                    maxmin: false, //开启最大化最小化按钮
                    area: ['500px', "220px"],
                    content: $("#editPopBox"),
                    success: function (layero, index) {
                        $("#editPopBox").attr("data-id",event.pushid);
                    }
                });
            },
            deletecon:function(event,ei){//删除
               //console.log(event);
                layer.confirm('确定删除该条吗？', {
                    btn: ['确定','取消'] //按钮
                }, function(index){
                    deleteRecon(event,ei);
                    layer.close(index);
                }, function(index){
                    layer.close(index);
                });

            }
        }
    });

    /*页面初始化*/
    $(function(){
        var userlevel=userdatas.data.userlevel;
        if(userlevel =="S" || userlevel =="B"){
            $("#alterTableList").css("display","block");
            getRecondList(1);
            tabledata.suser=1;
        }else{
            $("#alterTableList").css("display","none");
            tabledata.suser=0;
        }
        getalterlist(1);//获取备选内容列表
        getrubbigsetpige();
    });

    /*推荐页码选择*/
    $("#temporaryPageChoose").change(function(){
        var page=$(this).val();
        getRecondList(page);
        getalterlist(page)
    });

    /*推荐队列最大页码*/
    function getrubbigsetpige(){
        $("#temporaryPageChoose").empty();
        $("#editPageSelect").empty();
        var userlevel=userdatas.data.userlevel;
        if(userlevel =="S" || userlevel =="B"){
            getrubbigsetpige2();
        }else{
            for(var i=0;i<100;i++){
                $("#temporaryPageChoose").append(' <option value="'+(i+1)+'">第'+(i+1)+'页</option>');
                $("#editPageSelect").append(' <option value="'+(i+1)+'">第'+(i+1)+'页</option>');
            }
        }


    }

    function getrubbigsetpige2(){
          var tjdatas={"YES":1,};
       tjdatas=JSON.stringify(tjdatas);
       $.ajax({
           url : path2+'/pushbakcontrol/queryAllPageSize.do',
           cache:true,//false就不会从浏览器缓存中加载请求信息了
           type:"POST",
           contentType: "application/json",
           dataType:"JSON",
           async:false,
           data: tjdatas,
           error: function(data){
               layer.msg("服务器未响应,请稍后再试!");
               //console.log("马甲用户列表失败：");
               //console.log(data);
           },
           success:function(diskJson){
               // console.log("推荐队列最大页码：");
               // console.log(diskJson);
               $("#temporaryPageChoose").empty();
               $("#editPageSelect").empty();
               var checkpage=$("#temporaryPageChoose").attr("data-page");
               let pagenum=parseInt(diskJson.data);
               for(var i=0;i<=pagenum;i++){
                   $("#temporaryPageChoose").append(' <option value="'+(i+1)+'">第'+(i+1)+'页</option>');
                   $("#editPageSelect").append(' <option value="'+(i+1)+'">第'+(i+1)+'页</option>');
               }
               $("#temporaryPageChoose").val(checkpage);

           }
       });
    }


        /*获取推荐列表*/
    function getRecondList(pageno){
        var datapost={"pagenum":pageno};
//         console.log("datapost::");
//         console.log(datapost);
        datapost=JSON.stringify(datapost);
        $.ajax({
            url : path+'/content/getContentInfoByPage.do',
            cache:true,//false就不会从浏览器缓存中加载请求信息了
            type:"POST",
            contentType: "application/json",
            dataType:"JSON",
            async:false,
            data: datapost,
            error: function(data){
                layer.msg("服务器未响应,请稍后再试!");
//                console.log("获取失败：");
//                console.log(data);
            },
            success:function(diskJson){
                layer.closeAll();
              // console.log("获取推荐列表：");
              //  console.log(diskJson);
                /*翻页信息*/
                if(diskJson.code =="1000"){
                    recondlist.items=diskJson.data;
                    recondlist.chooselist=[];
                    recondlist.chooselistnum=[];
                    recondlist.postlist=[];

                }else{
                    layer.msg("数据有误请重试!");
                }


            }
        });
    }

    /*获取备选内容列表*/
    function getalterlist(pageno){
        var userid="";
        var userlevel=userdatas.data.userlevel;
        if(userlevel =="S" || userlevel =="B"){
            userid=""
        }else{
            userid=userdatas.data.userid
        }
        var datapost={"pagenum":pageno,"userid":userid};
//         console.log("datapost::");
//         console.log(datapost);
        datapost=JSON.stringify(datapost);
        // tabledata.tagshow=contentshow;
        $.ajax({
            url : path+'/pushbakcontrol/queryPushBak.do',
            cache:false,//false就不会从浏览器缓存中加载请求信息了
            type:"POST",
            contentType: "application/json",
            dataType:"JSON",
            async:true,
            data: datapost,
            error: function(data){
                layer.msg("服务器未响应,请稍后再试!");
//                console.log("获取失败：");
//                console.log(data);
            },
            success:function(diskJson){
                layer.closeAll();
              //console.log("获取备选内容列表：");
               //console.log(diskJson);
                if(diskJson.code =="1000"){
                   // pageinfo3(pageno,diskJson.data,10);//翻页控件信息
                    tabledata.items=diskJson.data;

                }else{
                    layer.msg("数据有误请重试!");
                }


            }
        });
    }

    /*刷新推荐列表*/
    function arrysure(){
        if(recondlist.items.length<6){
            layer.msg("该页面列表少于6条！！")
            return false;
        }
        let pagenum=$("#temporaryPageChoose").val();
        if(recondlist.postlist.length<=0){
            layer.msg("请选择需要替换的内容");
            return false;
        }
        var datapost={"pagenum":pagenum,"replace":recondlist.postlist};
//         console.log("datapost::");
//         console.log(datapost);
        datapost=JSON.stringify(datapost);
        // tabledata.tagshow=contentshow;
        $.ajax({
            url : path+'/pushbakcontrol/effectPushBak.do',
            cache:false,//false就不会从浏览器缓存中加载请求信息了
            type:"POST",
            contentType: "application/json",
            dataType:"JSON",
            async:true,
            data: datapost,
            error: function(data){
                layer.msg("服务器未响应,请稍后再试!");
//                console.log("获取失败：");
//                console.log(data);
            },
            success:function(diskJson){
               //console.log("刷新推荐列表：");
               //console.log(diskJson);
                if(diskJson.code =="1000"){
                    recondlist.postlist=[];
                    layer.msg("推荐队列刷新成功！！!");
                }else{
                    layer.msg("数据有误请重试!");
                }


            }
        });
    }

    /*删除该条*/
    function deleteRecon(event,ev){
       //console.log(event);
       //console.log(ev);
        var datapost={"pushid":event.pushid};
//         console.log("datapost::");
//         console.log(datapost);
        datapost=JSON.stringify(datapost);
        // tabledata.tagshow=contentshow;
        $.ajax({
            url : path+'/pushbakcontrol/deletePushBak.do',
            cache:false,//false就不会从浏览器缓存中加载请求信息了
            type:"POST",
            contentType: "application/json",
            dataType:"JSON",
            async:true,
            data: datapost,
            error: function(data){
                layer.msg("服务器未响应,请稍后再试!");
//                console.log("获取失败：");
//                console.log(data);
            },
            success:function(diskJson){
               //console.log("删除该条：");
               //console.log(diskJson);
                if(diskJson.code =="1000"){
                    layer.msg("删除成功！！!");
                    tabledata.items.splice(ev,1);

                }else{
                    layer.msg("数据有误请重试!");
                }


            }
        });
    }

    /*点击详情查看*/
    function reportdetail(nedata){
//        console.log("nedata::");
//        console.log(nedata);
        var contentlist=[nedata.contentid];
        var datapost={"contentlist":contentlist};
//         console.log("datapost::");
//         console.log(datapost);
        datapost=JSON.stringify(datapost);
        // tabledata.tagshow=contentshow;
        $.ajax({
            url : path+'/content/watchContentDetail.do',
            cache:false,//false就不会从浏览器缓存中加载请求信息了
            type:"POST",
            contentType: "application/json",
            dataType:"JSON",
            async:true,
            data: datapost,
            error: function(data){
                layer.msg("服务器未响应,请稍后再试!");
//                console.log("获取失败：");
//                console.log(data);
            },
            success:function(diskJson){
               //console.log("查看内容详情接口：");
               //console.log(diskJson);
                if(diskJson.code =="1000"){
                    repoterdetail2(diskJson.data[0]);

                }else{
                    layer.msg("数据有误请重试!");
                }


            }
        });
    }

    /*查看详情2*/
    function repoterdetail2(urldata){
        var type=urldata.contenttype;
        var url="recomovie.html";
        if(type=="3" || type=="4"  || type=="5"){
            url="../recopicture.html";
        }else{
            url="../recomovie.html";
        }
        layer.open({
            type: 2,
            title: '内容详情',
            shadeClose: true,
            maxmin: true, //开启最大化最小化按钮
            shade: 0.8,
            area: ['80%', '90%'],
            content: url, //iframe的url
            success: function (layero, index) {
                var body = layer.getChildFrame('body', index);
                var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
                iframeWin.geturl(urldata);
            }
        });
    }

    /*NH编辑备选页码*/
    function editcontpage(){
        let pushid=$("#editPopBox").attr("data-id");
        let edituser=userdatas.data.userid;
        let pagenum=$("#editPageSelect").val();
        let indexno=$("#editNumberSelect").val();
        var datapost={"pagenum":pagenum,"pushid":pushid,"edituser":edituser,"indexno":indexno};
//         console.log("datapost::");
//         console.log(datapost);
        datapost=JSON.stringify(datapost);
        // tabledata.tagshow=contentshow;
        $.ajax({
            url : path+'/pushbakcontrol/editPushBakPageInfo.do',
            cache:false,//false就不会从浏览器缓存中加载请求信息了
            type:"POST",
            contentType: "application/json",
            dataType:"JSON",
            async:true,
            data: datapost,
            error: function(data){
                layer.msg("服务器未响应,请稍后再试!");
//                console.log("获取失败：");
//                console.log(data);
            },
            success:function(diskJson){
               //console.log("NH编辑备选页码：");
               //console.log(diskJson);
                if(diskJson.code =="1000"){
                    layer.msg("替换成功！!");
                    var page=$("#temporaryPageChoose").val();
                    getalterlist(page);

                }else{
                    layer.msg("数据有误请重试!");
                }


            }
        });
    }

    /*关闭编辑备选页码*/
    $("#editPopBox .editCancelBtn").click(function(){
        layer.closeAll();
    })
</script>

    
    

