/* 通用样式*/
header,#top_main,nav,#banner,footer,section{
    border:1px solid black;
}
body{
    font:12px PingFangSC-Regular,"microsoftyahei",Arial,Helvertica,sans-serif;
    color:#666;
    margin:0;
    padding:0;
    background:#fff;
    -webkit-text-size-adjust : 100% ;
    -moz-text-size-adjust : 100% ;
    -ms-text-size-adjust : 100% ;
    text-size-adjust : 100%;
}
ul,ol,p,h1,h2,h3,h4,h5,h6,dl,dt,dd{
    margin:0;
    padding:0;
    list-style:none;
}
input{
    border:none;
}
a{
    color:#666;
    text-decoration:none;
}
a:hover{
    color:#ff0700;
    text-decoration:none;
}
.lf{
    float:left;
}
.rt{
    float:right;
}
.clear{
    clear:both;
}
.btn{display: inline-block;padding:6px 9px;background:#FF698F;color:#fff;text-align: center;cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;}
.btn img{width:100%;height:auto;}
.conntentsBox{width:100%;}
#shareHeader{background:url("../img/titltbg.png") no-repeat; /*filter: blur(2px);*/background-size:cover;height:120px;position: fixed;top:0;left:0;width:100%;z-index:99;line-height: 120px;}
#shareHeader .logobox{float: left;padding-left:30px;position: relative;height:100%;line-height: 120px;}
#shareHeader .logo{height:80px;width:auto;vertical-align: middle;margin-top: -14px;}
#shareHeader .logobox span{font-size:2.7rem;color:#fff;display: inline-block;height:100%;line-height: 120px;margin-left:16px;}
#downappbtn{width:132px;height:73px;line-height: 73px;text-align: center;color:#fff;background:#FF698F;display: inline-block;float:right;margin-top:20px;margin-right:20px;font-size:2.2rem;cursor: pointer;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;}
#userheadbox{position: relative;height:100px;padding-left:25px;padding-top:8px;}
#userheadbox .imgbox{display: inline-block;width:101px;height:101px;background:#FF698F;overflow: hidden;vertical-align:top;margin-right:9px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;}
#userheadbox .imgbox img{height:100%;width:100%;}
#userheadbox span.title{color:#666;font-size:2.2rem;display: inline-block;height:101px;line-height: 101px;}
#attentBtn{color:#fff;font-size:1.8rem;position: absolute;right:40px;top:20px;width:165px;height:70px;background:none;line-height: 70px;padding:0;}
#attentBtn .iconfont{ font-size: 2.1rem;margin-right: 5px;}
#contentTittle{font-size:2.5rem;padding-left:30px;color:#333;line-height: 3.3rem;margin-top:15px;min-height:35px;max-height:350px;}
#mainContntShowbox{width:95%;margin:27px auto;height:400px;}
#mainContentBox{margin-top:132px;}
#seeDetails{width:80%;height:70px;line-height: 70px;border:0;font-size:2rem;font-family: serif;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;}
#moreRecommendBox{width:95%;margin:30px auto;box-sizing: border-box;}
#moreRecommendBox .title{padding-left:18px;border-left:10px solid #FF698F;font-size:2.1rem;margin:15px 0;height:30px;line-height: 30px;font-weight:500;margin-top:40px;}
#moreRecommendBox .rcommendBox{padding:15px 0;font-size:1.8rem;border-bottom:1px solid #DCDCDC;height:150px;position: relative;}
#moreRecommendBox .rcommendTitleBox{width:115px;height:115px;margin-right:28px;overflow: hidden;display: inline-block;margin-top:20px;vertical-align: top;border:1px solid #ddd;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;}
#moreRecommendBox .rcommendTitleBox img{width:100%;height:100%;}
#moreRecommendBox .rcommendCon{display: inline-block;font-size:2.4rem;color:#333;}
#moreRecommendBox .concernBtn{display: inline-block;font-size:1.9rem;color:#fff;width:165px;height:70px;line-height: 70px;position: absolute;;right:12px;
    top: 60px;text-align: center;padding:0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;}
#moreRecommendBox .concernBtn img{width:100%;height:auto;}
#moreRecommendBox .concernBtn .iconfont{font-size:2.1rem;margin-right:5px;}
#moreRecommendBox .recommendLeftBox{float:left;width:100px;height:100%;}
#moreRecommendBox .recommendMiddleBox{float:left;width:calc(100% - 265px);height:100%;padding:10px 0;padding-left:35px;overflow: hidden;box-sizing: border-box;line-height: 126px;}

/*分享主题*/
#themeContentBox{margin-top:145px;padding-bottom:45px;}
#themeContentBox .themeContentHead{width:150px;height:150px;border-radius: 7px;}
#themeContentBox .themecontitle{width:70%;margin:0 auto;font-size:2.7rem;color:#333;word-wrap: break-word;
    word-break: normal; }
#themeContentBox .themContaine{font-size:2.1rem;color:#999;max-height:116px;overflow: hidden;line-height: 41px;margin:13px 0;}
.attentBtn{color:#fff;font-size:1.8rem;width:165px;height:62px;background:none;line-height: 62px;padding:0;}
.attentBtn .iconfont{font-size:2.1rem;margin-right:5px;}
#allThemeConBox .conTitle{position: relative;}
#allThemeConBox .imgBox{display: inline-block;width:90px;height:90px;overflow: hidden;vertical-align: top;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;}
#allThemeConBox .imgBox img{width:100%;height:100%;}
#allThemeConBox .conUserName{font-size:2.4rem;display: inline-block;height:85px;line-height: 85px;margin-left:5px;font-weight:500;}
#allThemeConBox .attentBtn{position: absolute;right:3px;top:5px;}
#allThemeConBox .contentcomment{font-size:2.7rem;line-height: 3.2rem;margin:20px 8px;min-height:28px;max-height:250px;color:#333;}
#allThemeConBox .themeMainBox{width:100%;height:auto;margin:12px 0;}
#allThemeConBox  .btngroupBox{margin-top:21px;position: relative;}
#allThemeConBox  .btngroupBox a{display: inline-block;margin-right:82px;}
#allThemeConBox  .btngroupBox a img{vertical-align: top;height:36px;width:auto;margin-right:16px;}
#allThemeConBox  .btngroupBox .more{position: absolute;right:-90px;top:0;font-size:2.6rem;line-height: 48px;}
#allThemeConBox .btngroupBox .more img{width:30px;height:auto;vertical-align: super;}
#allThemeConBox  .btngroupBox .iconfont{font-size:2.6rem;margin-right:9px;}
#allThemeConBox  .btngroupBox i{font-size:2.2rem;font-style: normal;}
#allThemeConBox .themeContent{padding:30px;border-bottom:20px solid #F7F7F7;}
#allThemeConBox .themeMainBox .videoBox{width:100%;height:410px;background:#333;}
#allThemeConBox .themeMainBox .thempictureBox{width:100%;height:auto;}

/*------自定义的图片左右切换-----------*/
#faxAllBox{position: fixed;left:0;top:0;width:100%;height:100%;background:#333;z-index:990;overflow: hidden;display: none;}
#faxAllBox.show{display: block;}
#faxAllBox .toptip{width:100%;height:80px;line-height:80px;background:rgba(0,0,0,.5);color:#fff;font-size:2.2rem;position: fixed;top:0;left:0;z-index:992;padding:0 15px;}
#faxAllBox .toptip b{font-weight:normal;}
#faxAllBox .toptip .close{float:right;margin-right:30px;margin-top:2px;font-size:2.0rem;}
#faxAllBox ul{width:100%;height:100%;}
#faxAllBox ul li{width:100%;height:100%;float:left;text-align: center;position: relative;display: none;}
#faxAllBox ul li.show{display: block;}
#faxAllBox ul li img{width:auto;height:auto;max-height: 100%;max-width: 100%;position: absolute;left: 0; right: 0; top: 0;  bottom: 0;  margin:auto;min-width: 50%;}



.pictureList{text-align: left;}
.pictureList .imgbox{display: inline-block;width:30%;height:215px;max-height:430px;overflow: hidden;margin:4px;text-align: center;background:#fff; background-size: cover;}
.pictureList.along .imgbox{width:50%;height:330px;}
.imgbox img{width:100%;height:auto;}
.imgbox.wimg img{width:auto;height:100%;}
