/* 通用样式*/
header,#top_main,nav,#banner,footer,section{
    border:1px solid black;
}
body{
    font:12px PingFangSC-Regular,"microsoftyahei",Arial,Helvertica,sans-serif;
    color:#666;
    margin:0;
    padding:0;
    background:#fff;
    -webkit-text-size-adjust : 100% ;
    -moz-text-size-adjust : 100% ;
    -ms-text-size-adjust : 100% ;
    text-size-adjust : 100%;
    box-sizing: border-box;;
}
ul,ol,p,h1,h2,h3,h4,h5,h6,dl,dt,dd{
    margin:0;
    padding:0;
    list-style:none;
}
input{
    border:none;
}
a{
    color:#666;
    text-decoration:none;
}
a:hover{
    color:#ff0700;
    text-decoration:none;
}
.lf{
    float:left;
}
.rt{
    float:right;
}
.clear{
    clear:both;
}
*{box-sizing: border-box;}
[v-cloak]{display: none;}
.btn{display: inline-block;padding:6px 9px;background:#FF698F;color:#fff;text-align: center;cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;}
.btn img{width:100%;height:auto;}


.conntentsBox{width:100%;padding:12px;}
.outtitle{margin-left:74px;font-size:2.1rem;color:#999;font-weight:500;margin-top:16px;}
.questionBox{width:100%;margin:30px auto;padding:0 30px;}
.questionBox .quetitle{font-size:2.4rem;color:#333;font-weight:500;}
.questionBox img{width:30px;vertical-align: baseline;margin-right:2px;}
.questionBox .queconts{font-size:2.1rem;color:#333;width:100%;margin-top:10px;padding-left:40px;line-height: 3rem;}
