    <style>
        a{color:#fff;}
        .lt{float:left;}
        #contentBox{width:100%;}
        #contentBox .title{text-align: left;color:#7C7E86;font-size:0.9rem;}
        .listBox{width:100%;}
        .listBox li{position: relative;width:100%;height:55px;margin:30px 0;}
        .listBox .listTitle{width:53px;height:53px;}
        .listBox .listTitle img{width:100%;height:100%;}
        .listBox .listInfo{width:calc(100% - 55px);height:100%;padding-left:16px;}
        .listBox .listInfo .listInfoTitle{color:#2A2A30;font-size:1rem;font-weight:600;margin-top:6px;}
        .listBox .listInfo .listInfoCon{color:#828393;font-size:0.8rem;margin-top:2px;}
        .listBox .listBtnBox{position: absolute;right:-3px;top:14px;width:70px;}
        .listBox .listBtnBox .btn{display: inline-block;width:100%;height:30px;text-align: center;color:#fff;background:#46B751;font-size:0.8rem;padding:0;line-height: 30px;}
        .listBox .listBtnBox .finished{background:#FFCF1E;}
        #newUserTask{margin-top:25px;}

        @media (max-width: 360px){
            .listBox .listInfo{padding-left:6px;}
            .listBox .listBtnBox{width:50px;font-size:0.7rem;}
            .listBox .listInfo .listInfoTitle{font-size:0.9rem;}
            .listBox .listInfo .listInfoCon{font-size:0.5rem;}
        }
    </style>

    <div id="contentBox">
        <!--每日任务-->
        <div id="everyDayTask">
            <h4 class="title">每日任务</h4>
            <ul class="listBox">
                <li>
                    <div class="listTitle lt">
                        <img src="https://ctkj-1256675270.cos.ap-shanghai.myqcloud.com/app_lottery/qiandao.png" alt=""/>
                    </div>
                    <div class="listInfo lt">
                        <p class="listInfoTitle">每日签到 </p>
                        <p class="listInfoCon">连续七天签到大量萝卜</p>
                    </div>
                    <div class="listBtnBox">
                        <span v-if="info.SIGN == 'N'" class="finishing btn" v-on:click="signin()"><a href="pages/checkin/checkin.html">去签到</a></span>
                        <span v-else class="finished btn">已签到</span>
                    </div>
                </li>
                <li>
                    <div class="listTitle lt">
                        <img src="https://ctkj-1256675270.cos.ap-shanghai.myqcloud.com/app_lottery/liulan.png" alt=""/>
                    </div>
                    <div class="listInfo lt">
                        <p class="listInfoTitle">看视频（0min）</p>
                        <p class="listInfoCon">观看视频累计30分钟，奖励50萝卜</p>
                    </div>
                    <div class="listBtnBox">
                        <span v-if="info.SEE == 'N'" class="finishing btn" v-on:click="jumpapp(1)">去浏览</span>
                        <span v-else class="finished btn">已完成</span>
                    </div>
                </li>
                <li>
                    <div class="listTitle lt">
                        <img src="https://ctkj-1256675270.cos.ap-shanghai.myqcloud.com/app_lottery/shenping.png" alt=""/>
                    </div>
                    <div class="listInfo lt">
                        <p class="listInfoTitle">每日分享（{{info.SHARE}}/5）</p>
                        <p class="listInfoCon">分享视频至好友群，每次奖励10萝卜</p>
                    </div>
                    <div class="listBtnBox">
                        <span v-if="info.SHARE < 5" class="finishing btn" v-on:click="jumpapp(1)">去分享</span>
                        <span v-else class="finished btn">已完成</span>
                    </div>
                </li>
                <li>
                    <div class="listTitle lt">
                        <img src="https://ctkj-1256675270.cos.ap-shanghai.myqcloud.com/app_lottery/pinglun.png" alt=""/>
                    </div>
                    <div class="listInfo lt">
                        <p class="listInfoTitle">发布内容（{{info.PUBLIC}}/5）</p>
                        <p class="listInfoCon">发布优质视频内容，每次奖励10萝卜</p>
                    </div>
                    <div class="listBtnBox">
                        <span v-if="info.PUBLIC <5" class="finishing btn" v-on:click="jumpapp(1)">去发布</span>
                        <span v-else class="finished btn">已完成</span>
                    </div>
                </li>
                <li>
                    <div class="listTitle lt">
                        <img src="https://ctkj-1256675270.cos.ap-shanghai.myqcloud.com/app_lottery/dianzan.png" alt=""/>
                    </div>
                    <div class="listInfo lt">
                        <p class="listInfoTitle">优质评论</p>
                        <p class="listInfoCon">发布搞笑评论，每次奖励10萝卜</p>
                    </div>
                    <div class="listBtnBox">
                        <span v-if="info.COMMENT == 'N'" class="finishing btn" v-on:click="jumpapp(1)">去评论</span>
                        <span v-else class="finished btn">已完成</span>
                    </div>
                </li>
            </ul>
        </div>
        <!--新手任务-->
        <div id="newUserTask">
            <h4 class="title">新手任务</h4>
            <ul class="listBox">
                <li>
                    <div class="listTitle lt">
                        <img src="https://ctkj-1256675270.cos.ap-shanghai.myqcloud.com/app_lottery/qiandao.png" alt=""/>
                    </div>
                    <div class="listInfo lt">
                        <p class="listInfoTitle">邀请好友</p>
                        <p class="listInfoCon">邀请3个好友，直接领取79元马克杯</p>
                    </div>
                    <div class="listBtnBox">
                        <span v-if="info.INVITE == 'N'" class="finishing btn" >
                            <a href="pages/sharefriend/sharefriend.html">去邀请</a>
                        </span>
                        <span v-else class="finished btn">已完成</span>
                    </div>
                </li>
                <li>
                    <div class="listTitle lt">
                        <img src="https://ctkj-1256675270.cos.ap-shanghai.myqcloud.com/app_lottery/liulan.png" alt=""/>
                    </div>
                    <div class="listInfo lt">
                        <p class="listInfoTitle">完善个人信息</p>
                        <p class="listInfoCon">完善个人主页信息，奖励50萝卜</p>
                    </div>
                    <div class="listBtnBox">
                        <span v-if="info.EDIT == 'N'" class="finishing btn" v-on:click="jumpapp(2)">去完善</span>
                        <span v-else class="finished btn">已完成</span>
                    </div>
                </li>
                <li>
                    <div class="listTitle lt">
                    <img src="https://ctkj-1256675270.cos.ap-shanghai.myqcloud.com/app_lottery/shenping.png" alt=""/>
                </div>
                    <div class="listInfo lt">
                        <p class="listInfoTitle">绑定手机</p>
                        <p class="listInfoCon">可收取获奖信息，奖励50萝卜</p>
                    </div>
                    <div class="listBtnBox">
                        <span v-if="info.BIND == 'N'" class="finishing btn" v-on:click="jumpapp(3)">去绑定</span>
                        <span v-else class="finished btn">已完成</span>
                    </div>
                </li>

            </ul>
        </div>


    </div>

    <script>
        $(function(){
            getscoreandtask();
        })
        /*每日任务*/
        var everyDayTask = new Vue({
            el: '#everyDayTask',
            data: {
                info:""
            },
            // 在 `methods` 对象中定义方法
            methods: {
                signin: function (event) {//签到
                    console.log("签到");
                },
                jumpapp:function (event) {//跳转到APP
                    console.log("跳转到APP"+event);
                    jumpapppage(event);

                }
            }
        });

        /*新手任务*/
        var newUserTask = new Vue({
            el: '#newUserTask',
            data: {
                info: ""
            },
            // 在 `methods` 对象中定义方法
            methods: {
                invit: function (event) {//邀请好友
                    console.log("邀请好友");
                },
                jumpapp:function (event) {//跳转到APP
                    console.log("跳转到APP"+event);
                    jumpapppage(event);
                }
            }
        });

        /*页面跳转*/
        function jumpapppage(event){
            let ispho=phoneType2();
            if(ispho ==2){
                alert("页面跳转");
                window.android.jstoapp_page(event);
            }else{
                try {
                    alert("页面跳转2");
                    window.webkit.messageHandlers.jstoapp_page.postMessage(event);
                } catch(error) {
                    console.log(error)
                }
            }
        }

        /*完成任务情况*/
        function getscoreandtask(){
            var tjdatas={"UUID":result.userid};
            //console.log(tjdatas);
            tjdatas=JSON.stringify(tjdatas);
            $.ajax({
                url : path+'/CTKJSEVER/goldscorecontrol/getscoreandtask.do',
                cache:false,//false就不会从浏览器缓存中加载请求信息了
                type:"POST",
                contentType: "application/json",
                dataType:"JSON",
                async:false,
                data: tjdatas,
                error: function(data){
                    /*  layer.msg("服务器未响应,请稍后再试!");*/
                    //console.log("获取失败：");
                    //console.log(data);
                },
                success:function(diskJson){
                    console.log("完成任务列表:");
                    console.log(diskJson);
                    if(diskJson.code =="1000"){
                        everyDayTask.info={SIGN:diskJson.data.SIGN,SEE:diskJson.data.SEE,
                                        SHARE:diskJson.data.SHARE,PUBLIC:diskJson.data.PUBLIC,
                                        COMMENT:diskJson.data.COMMENT};
                        newUserTask. info={INVITE:diskJson.data.INVITE,EDIT:diskJson.data.EDIT,BIND:diskJson.data.BIND}
                    }else{

                        /*  layer.msg("网络异常，请重试！！")*/
                    }

                }
            });
        }

    </script>